<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}?id=1233444"> {% block custom_style %} {% endblock %} {% block head %}
    <title>{% block title %}{% endblock %} - Play With Flask - </title>
    {% endblock %}
</head>

<body>
    <div class="header">
        <div class="homer">
            <div class="index">
                <a href="">OPM v1</a>
            </div>
            <ul class="top-list">
                <li>
                    <a href="">消息</a>
                </li>
                <li>
                    <a href="">{{ kw.username }}</a>
                </li>
                <li>
                    <a href="" id="logout">退出</a>
                </li>
            </ul>
        </div>
    </div>
    <div id="page-sidebar" class="scrollable-content">
        <div id="sidebar-menu" class="active">
            <ul>
                <li>
                    <div class="current-page">
                        <span class="glyphicon glyphicon-dashboard"></span>
                        <a href="{{ url_for('index') }}">Dashboard</a> 
                    </div>
                </li>
                <li>
                    <div>
                        <span class="glyphicon glyphicon-folder-open"></span>
                        用户管理</div>
                    <div class="box-drawer">
                        <p class="zcd">
                            <!-- <span class="demo"></span> -->
                            <a href="{{ url_for('vpnuser') }}">VPN 用户</a>
                        </p>
                        <p class="zcd">
                            <a href="{{ url_for('jumpuser') }}">跳板机用户</a>
                        </p>
                        <p class="zcd">
                            <a href="{{ url_for('opm_user') }}">后台用户管理</a>
                        </p>
                        <p class="zcd">
                            <a href="{{ url_for('groupname') }}">项目组管理</a>
                        </p>
                        <p class="zcd">
                            <a href="{{ url_for('iamuser') }}">AWS账户申请</a>
                        </p>
                    </div>
                </li>
                <li>
                    <div>
                        <span class="glyphicon glyphicon-tags"></span>
                        资源申请</div>
                    <div class="box-drawer">
                        <p class="zcd">
                            <a href="{{ url_for('res_ec2') }}">计算资源</a>
                        </p>
                        <p class="zcd">
                            <a href="#">数据库资源</a>
                        </p>
                        <p class="zcd">
                            <a href="#">AWS服务资源</a>
                        </p>
                        <p class="zcd">
                            <a href="#">AWS权限资源</a>
                        </p>
                    </div>
                </li>
                <li>
                    <div>
                        <span class="glyphicon glyphicon-align-left"></span>
                        资源管理</div>
                    <div class="box-drawer">
                        <p class="zcd">
                            <a href="#">EC2服务器</a>
                        </p>
                        <p class="zcd">
                            <a href="#">数据库</a>
                        </p>
                        <p class="zcd">
                            <a href="#">Elastic Beanstalk</a>
                        </p>
                        <p class="zcd">
                            <a href="#">ECS</a>
                        </p>
                    </div>
                </li>
                <li>
                    <div>
                        <span class="glyphicon glyphicon-signal"></span>
                        我的工单</div>
                    <div class="box-drawer">
                        <p class="zcd">
                            <a href="#">我创建的工单</a>
                        </p>
                        <p class="zcd">
                            <a href="#">我待办的工单</a>
                        </p>
                        <p class="zcd">
                            <a href="#">我参与的工单</a>
                        </p>
                    </div>
                </li>
                <li>
                    <div>
                        <span class="glyphicon glyphicon-paperclip"></span>
                        Charts</div>
                    <div class="box-drawer">
                        <p class="zcd">
                            <a href="#">Components</a>
                        </p>
                        <p class="zcd">
                            <a href="#">Components</a>
                        </p>
                        <p class="zcd">
                            <a href="#">Components</a>
                        </p>
                        <p class="zcd">
                            <a href="#">Components</a>
                        </p>
                    </div>
                </li>
                <li>
                    <div>
                        <span class="glyphicon glyphicon-stats"></span>
                        Tables</div>
                    <div class="box-drawer">
                        <p class="zcd">
                            <a href="#">Components</a>
                        </p>
                        <p class="zcd">
                            <a href="#">Components</a>
                        </p>
                        <p class="zcd">
                            <a href="#">Components</a>
                        </p>
                        <p class="zcd">
                            <a href="#">Components</a>
                        </p>
                    </div>
                </li>
                <li>
                    <div>
                        <span class="glyphicon glyphicon-list-alt"></span>
                        Forms</div>
                    <div class="box-drawer">
                        <p class="zcd">
                            <a href="#">Components</a>
                        </p>
                        <p class="zcd">
                            <a href="#">Components</a>
                        </p>
                        <p class="zcd">
                            <a href="#">Components</a>
                        </p>
                        <p class="zcd">
                            <a href="#">Components</a>
                        </p>
                    </div>
                </li>
                <li>
                    <div>
                        <span class="glyphicon glyphicon-book"></span>
                        Help&amp;Support</div>
                    <div class="box-drawer">
                        <p class="zcd">
                            <a href="#">Components</a>
                        </p>
                        <p class="zcd">
                            <a href="#">Components</a>
                        </p>
                        <p class="zcd">
                            <a href="#">Components</a>
                        </p>
                        <p class="zcd">
                            <a href="#">Components</a>
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="right_content">
    {% block right_content %}
    {% endblock %}
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/base.js') }}?id=11221"></script> {% block custom_js %} {% endblock %}
</body>

</html>