<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}?id=1233444"> {% block custom_style %} {% endblock %} {% block head %}
    <title>{% block title %}{% endblock %} - Play With Flask - </title>
    {% endblock %}
</head>

<body>
    <div class="header">
        <div class="homer">
            <div class="index">
                <a href="">OPM v1</a>
            </div>
            <ul class="top-list">
                <li>
                    <a href="">消息</a>
                </li>
                <li>
                    <a href="">用户名</a>
                </li>
                <li>
                    <a href="">退出</a>
                </li>
            </ul>
        </div>
    </div>
    <div id="page-sidebar" class="scrollable-content">
        <div id="sidebar-menu" class="active">
            <ul>
                <li>
                    <div class="current-page">
                        <span class="glyphicon glyphicon-dashboard"></span>
                        Dashboard</div>
                    <div class="box-drawer">
                        <p class="zcd">
                            <a href="#">Components</a>
                        </p>
                        <p class="zcd">
                            <a href="#">Components</a>
                        </p>
                        <p class="zcd">
                            <a href="#">Components</a>
                        </p>
                        <p class="zcd">
                            <a href="#">Components</a>
                        </p>
                    </div>
                </li>
                <li>
                    <div>
                        <span class="glyphicon glyphicon-folder-open"></span>
                        Components</div>
                    <div class="box-drawer">
                        <p class="zcd">
                            <!-- <span class="demo"></span> -->
                            <a href="#">Components</a>
                        </p>
                        <p class="zcd">
                            <a href="#">Components</a>
                        </p>
                        <p class="zcd">
                            <a href="#">Components</a>
                        </p>
                        <p class="zcd">
                            <a href="#">Components</a>
                        </p>
                    </div>
                </li>
                <li>
                    <div>
                        <span class="glyphicon glyphicon-tags"></span>
                        Page</div>
                    <div class="box-drawer">
                        <p class="zcd">
                            <a href="#">Components</a>
                        </p>
                        <p class="zcd">
                            <a href="#">Components</a>
                        </p>
                        <p class="zcd">
                            <a href="#">Components</a>
                        </p>
                        <p class="zcd">
                            <a href="#">Components</a>
                        </p>
                    </div>
                </li>
                <li>
                    <div>
                        <span class="glyphicon glyphicon-align-left"></span>
                        Widgets</div>
                    <div class="box-drawer">
                        <p class="zcd">
                            <a href="#">Components</a>
                        </p>
                        <p class="zcd">
                            <a href="#">Components</a>
                        </p>
                        <p class="zcd">
                            <a href="#">Components</a>
                        </p>
                        <p class="zcd">
                            <a href="#">Components</a>
                        </p>
                    </div>
                </li>
                <li>
                    <div>
                        <span class="glyphicon glyphicon-signal"></span>
                        Elements</div>
                    <div class="box-drawer">
                        <p class="zcd">
                            <a href="#">Components</a>
                        </p>
                        <p class="zcd">
                            <a href="#">Components</a>
                        </p>
                        <p class="zcd">
                            <a href="#">Components</a>
                        </p>
                        <p class="zcd">
                            <a href="#">Components</a>
                        </p>
                    </div>
                </li>
                <li>
                    <div>
                        <span class="glyphicon glyphicon-paperclip"></span>
                        Charts</div>
                    <div class="box-drawer">
                        <p class="zcd">
                            <a href="#">Components</a>
                        </p>
                        <p class="zcd">
                            <a href="#">Components</a>
                        </p>
                        <p class="zcd">
                            <a href="#">Components</a>
                        </p>
                        <p class="zcd">
                            <a href="#">Components</a>
                        </p>
                    </div>
                </li>
                <li>
                    <div>
                        <span class="glyphicon glyphicon-stats"></span>
                        Tables</div>
                    <div class="box-drawer">
                        <p class="zcd">
                            <a href="#">Components</a>
                        </p>
                        <p class="zcd">
                            <a href="#">Components</a>
                        </p>
                        <p class="zcd">
                            <a href="#">Components</a>
                        </p>
                        <p class="zcd">
                            <a href="#">Components</a>
                        </p>
                    </div>
                </li>
                <li>
                    <div>
                        <span class="glyphicon glyphicon-list-alt"></span>
                        Forms</div>
                    <div class="box-drawer">
                        <p class="zcd">
                            <a href="#">Components</a>
                        </p>
                        <p class="zcd">
                            <a href="#">Components</a>
                        </p>
                        <p class="zcd">
                            <a href="#">Components</a>
                        </p>
                        <p class="zcd">
                            <a href="#">Components</a>
                        </p>
                    </div>
                </li>
                <li>
                    <div>
                        <span class="glyphicon glyphicon-book"></span>
                        Help&amp;Support</div>
                    <div class="box-drawer">
                        <p class="zcd">
                            <a href="#">Components</a>
                        </p>
                        <p class="zcd">
                            <a href="#">Components</a>
                        </p>
                        <p class="zcd">
                            <a href="#">Components</a>
                        </p>
                        <p class="zcd">
                            <a href="#">Components</a>
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/base.js') }}?id=11221"></script> {% block custom_js %} {% endblock %}
</body>

</html>