.banner{
    width: 100%;
    margin: 10px 0;
}
.banner_title{
    height: 40px;
    width: 100%;
    line-height: 40px;
    font-family: Geneva, Verdana, sans-serif;
    font-size: 12px;
    padding-left: 30px;
    background: rgb(141,203,71);
    color: white;
}
.ticket_body{
    
    width: 98%;
    margin: 20px auto;
    height: 600px;
}
.ticket_title{
    height: 40px;
    line-height: 40px;
    background-color: rgb(235,240,246);
    padding-left: 20px;
    border: 1px solid rgb(184,198,212)
}
.ticket_table{
    height: 350px;
    width: 600px;
    /* border: 1px solid black; */
    margin: 20px auto;
}

.bt-box{
    height: 80px;
    background-color: rgb(243,242,243);
    width: 100%;
}
.bt-list{
    width: 340px;
    margin: 0 auto;
}

.bt-list div{
    display: inline-block;
    height: 40px;
    width: 85px;
    margin-top: 20px;
    text-align: center;
    line-height: 40px;
    border-radius: 2px;
    color: white;
}
.bt-list div:hover{
    cursor: pointer;
}
.bt-submit{
    background-color: rgb(94,163,217);
}
.bt-save{
    background-color: rgb(235,219,118);
    margin: 0 20px;
}
.bt-reset{
    background-color: rgb(155,171,182);   
}
.tick_type{
    /* height: 30px; */
    width: 520px;
    margin: 10px auto;
    /* border: 1px solid black; */
    position: relative;
}
.tick_type span {
    display: inline-block;
    line-height: 30px;
    text-align: center;
    width: 80px;
    margin-right: 20px;
}
#iam-sel{
    height: 30px;
    line-height: 30px;
    border: 1px solid rgb(155,171,182);
    outline: none;
    border-radius: 0;
    width: 240px;
}
.type_name{
    width: 410px;
    height: 30px;
    line-height: 30px;
    border: 1px solid rgb(155,171,182);
    outline: none;
}
.tick_con{
    width: 410px;
    height: 150px; 
    clear: both;
}
.tick_need{
    transform: translateY(-15px)

}
