.slideshow {
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }
  .slideshow:nth-child(1){
    background: url("../images/1.jpg")
  }
  .slideshow:nth-child(2){
    background: url('../images/2.jpg')
  }
  .slideshow:nth-child(3){
    background: url('../images/1.jpg')
  }
  .slideshow:nth-child(4){
    background: url('../images/1.jpg')
  }
  .slideshow-image {
    position: absolute;
    width: 100%;
    height: 100%;
    background: no-repeat 50% 50%;
    background-size: cover;
    animation-name: kenburns;
    animation-duration: 16s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transform: scale(1.2);
    opacity: 1;
  }

  .slideshow-image:nth-child(1) {
    animation-name: kenburns-1;
    z-index: 3;
  }
  .slideshow-image:nth-child(2) {
    animation-name: kenburns-2;
    z-index: 2;
  }
  .slideshow-image:nth-child(3) {
    animation-name: kenburns-3;
    z-index: 1;
  }
  .slideshow-image:nth-child(4) {
    animation-name: kenburns-4;
    z-index: 0;
  }

  @keyframes kenburns-1 {
    0% {
        opacity: 1;
        transform: scale(1.2);
    }
    1.5625% {
        opacity: 1;
    }
    23.4375% {
        opacity: 1;
    }
    26.5625% {
        opacity: 0;
        transform: scale(1);
    }
    98.4375% {
        opacity: 0;
        transform: scale(1.21176);
    }
    100% {
        opacity: 0;
        transform: scale(1.2);
    }
    100% {
      opacity: 1;
     }  /* 这个100% 是为了解决最后一张循环结束的时候白屏的情况 */
  }

 @keyframes kenburns-2 {
    23.4375% {
        opacity: 1;
        transform: scale(1.2);
      }
      26.5625% {
        opacity: 1;
      }
      48.4375% {
        opacity: 1;
      }
      51.5625% {
        opacity: 0;
        transform: scale(1);
      }
      100% {
        opacity: 0;
        transform: scale(1.2);
      }
  }

  @keyframes kenburns-3 {
    48.4375% {
        opacity: 1;
        transform: scale(1.2);
      }
      51.5625% {
        opacity: 1;
      }
      73.4375% {
        opacity: 1;
      }
      76.5625% {
        opacity: 0;
        transform: scale(1);
      }
      100% {
        opacity: 0;
        transform: scale(1.2);
      }
  }
  @keyframes kenburns-4 {
    73.4375% {
        opacity: 1;
        transform: scale(1.2);
      }
      76.5625% {
        opacity: 1;
      }
      98.4375% {
        opacity: 1;
      }
      100% {
        opacity: 0;
        transform: scale(1);
      }
  }

  .wrapper {
      height: 300px;
      position: absolute;
      top: 25%;
      left: 35%;
      right: 35%;
      z-index: 99;
      background: #cccccc;
      opacity: 0.8;
      border-radius: 15px;

  }

  .wrapper .login-info{
      color: rgb(56, 87, 224);
      line-height: 30px;
      text-align: center;
      margin: 10px auto;
      font-weight: bold;
      font-style: italic;
      font-size: 25px;
      letter-spacing: 3px;
      
  }
  #login-form{
      position: absolute;
      top: 20%;
      left: 30%;
      right: 30%;
      text-align: center;
      text-shadow: 2px 2px 2px ;
  }

  #login-form div{
    height: 40px;
    width: 250px;
    margin: 20px auto;
  }

  #login-form input{
      height: 40px;
      width: 250px;
      outline: 0px;
      background: transparent ;
      /* border: none; */
  }

  #login-form #submit{
      height: 40px;
      margin-top: 10px;
      width: 50%;
      background-color: rgb(56, 87, 224);
      outline: none;
      border: none;
      border-radius: 5px;
      color: white;
  }

  .messages{
    position: absolute;
    bottom: 2%;
    left: 20%;
    right: 20%;
    text-align: center;
    color: red;
  }
  