body,html{
    height: 100%;
    width: 100%;
}
.header{
    height: 50px;
    background: rgb(40,43,51);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
}
.index a, .top-list a{
    color: white;
    text-decoration: none;
}
.index{
    float: left;
    display: block;
    line-height: 50px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    margin-left: 20px;

}
.top-list{
    float: right;
    line-height: 50px;
}
.top-list li{
    line-height: 50px;
    display: inline-block;
    margin: 0 20px 0 0;
}

#page-sidebar{
    position: fixed;
    height: calc(100vh - 50px);
    top: 50px;
    left: 0;
    width: 15%;
    background-color: rgb(242,245,247);
    padding-top: 10px;
    color: rgb(131,141,156);
    border-radius: 3px;
}

#sidebar-menu span{
    margin: 0 10px;
}
#sidebar-menu li{
    /* height: 42px; */
    width: 200px;
    line-height: 42px;
    margin: 0 auto;
}
#sidebar-menu li:hover{
    background-color: rgb(255, 255, 255);
    border-radius: 2px;
    cursor: pointer;
    color: rgb(61,144,236)
}

.current-page{
    background-color: rgb(29,105,227);
    border-radius: 2px;
    line-height: 42px;
    width: 100%;
}
.current-page:hover{
    background-color: rgb(29,105,227);   
}

.box-drawer p{
    height: 30px;
    padding-left: 20px;
}
.box-drawer p:hover{
    background-color: rgb(250,250,250)   
}
.box-drawer{
    display: none;
}
.zcd{
    position: relative;
}
.zcd a{
    text-decoration: none;
    line-height: 30px;
    height: 30px;
    display: inline-block;
    width: 160px;
    margin-left: 20px;
}